/* MessagesComponent's private CSS styles */
.messages-container {
  margin: 1rem 0;
  width: 33.3%;
  min-width: 23rem;
}

.messages-header {
  display: flex;
  justify-content: space-between;
}

.messages-title {
  color: red;
  margin-right: 5rem;
}

.hero-message {
  font-size: 1rem;
}
